<header class={{ cond .TitleOnly "title-only" "invisible" }}>
    <a id="main_icon" href="/">
        z<span></span>liebersbach
    </a>

    <div id="breadcrumbs">
        &nbsp;&nbsp;/&nbsp;&nbsp;<span>tech</span>
    </div>

    <div class="flex_spacer"></div>

    <div id="btn_group">
        <a href="https://www.linkedin.com/in/zliebersbach/" target="_blank"><button>in</button></a>
        <a href="https://github.com/zliebersbach" target="_blank"><button>gh</button></a>
        <button id="menu_btn"><span>≡</span></button>
    </div>
</header>

{{ if .TitleOnly | not }}
<script>
    const header = document.querySelector('header');
    const urlSearchParams = new URLSearchParams(document.location.search);
    if (urlSearchParams.has('_anim_navbar', 'true')) {
        console.log('anim navbar!');
        header.classList.replace('invisible', 'title-anim');
    } else {
        console.log('no anim');
        header.classList.remove('invisible');
    }
</script>
{{ end }}