html,
body {
    font-family: Helvetica, Arial, sans-serif;

    block-size: 100%;
    inline-size: 100%;

    margin: 0;
}

/* variables */

html {
    --white: #fff;
    --black: #222;
    --true-black: #000;

    --border: #444;

    --padding-unit: calc(1rem / 4);

    color: var(--black);
    background-color: var(--white);
}

@media (prefers-color-scheme: dark) {
    html {
        --white: #222;
        --black: #eee;
        --true-black: #fff;

        --border: #ddd;
    }
}

/* element: a */
a.nostyle {
    color: inherit;
    text-decoration: none;
}

/* element: button */
button {
    color: inherit;
}

/* element: main */
main {
    padding: var(--padding-unit);
}

/* file: partials/navbar.html */

header {
    position: sticky;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-block-end: 1px solid var(--border);
}

header.invisible {
    visibility: hidden;
}

header.title-only {
    color: #fff;
    mix-blend-mode: exclusion;
}

header.title-only>:not(#title) {
    visibility: hidden;
}

header.title-anim>:not(#title) {
    /* TODO: reverse transition? */
    animation: navbar-visibility-anim 375ms ease-in-out;
    animation-iteration-count: 1;
}

@keyframes navbar-visibility-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#title {
    position: relative;

    padding: var(--padding-unit);
    font-size: 1.5rem;
}

header.title-only #title {
    left: 50%;
    transform: translateX(-50%);
}

header.title-anim #title {
    /* TODO: reverse transition? */
    animation: navbar-title-anim 375ms ease-in-out;
    animation-iteration-count: 1;
}

@keyframes navbar-title-anim {
    from {
        left: 50%;
        transform: translateX(-50%);
    }
    to {
        left: 0;
        transform: translateY(0%);
    }
}

#title>span {
    position: relative;
    display: inline-block;

    width: 0.5ch;
    transition: width 250ms ease-in-out;
}

#title:hover>span {
    width: 2.5ch;
}

#title>span:before {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    content: ".";

    opacity: 1;
    transition: opacity 125ms ease-in;
    transition-delay: 0ms;
}

#title:hover>span:before {
    opacity: 0;
}

#title>span:after {
    display: inline-block;
    content: "oë ";

    opacity: 0;
    transition: opacity 125ms ease-in;
    transition-delay: 125ms;
}

#title:hover>span:after {
    opacity: 1;
}

div.flex_spacer {
    flex: 1;
}

#btn_group {
    align-self: stretch;

    display: flex;
}
#btn_group>* {
    border: none;
    border-block-start: 1px solid var(--border);
    border-inline-start: 1px solid var(--border);

    block-size: calc(1.5rem * 1.15 + var(--padding-unit) * 2);
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_btn {
    font-size: 1.5rem;
    line-height: 1.5rem;

    background: transparent; /* remove default styling */
}
#menu_btn:active {
    background: #f00;
}

/* file: partials/breadcrumbs.html */

#breadcrumbs>* {
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
}

#breadcrumbs>a:hover {
    opacity: 1;
}

/* file: home.html */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
